# .NET
backend/bin/
backend/obj/
*.user
*.suo
*.cache
*.db
*.db-shm
*.db-wal

# Node
frontend/node_modules/
frontend/dist/

# IDE
.idea/
.vs/
.vscode/

# OS
.DS_Store
Thumbs.db

# Project storage
dotnethub-projects/
